<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="JS/JsCadastro.js"></script>
    <script src="JS/Login.js" defer></script>
    <link rel="stylesheet" href="../../CSS/Login.css">
</head>
<body>
<div class="login">
    <h1>Login</h1>
        <input id="cpf" type="text" name="u" placeholder="CPF" required="required" />
        <input id="senha" type="password" name="p" placeholder="Password" required="required" />
        <a href="/cadastro" class="btn btn-primary btn-block btn-large">Cadastrar-se</a>
        <button type="submit" class="btn btn-primary btn-block btn-large">Logar</button>
</div>
</body>