<div class="col-sm-12">
  <div class="box-calendario">
    <div class="cabecalho-calendario d-flex align-items-center justify-content-between">
      <div id="previous-month" class="text-end"><i class="fa-solid fa-angles-left arrow"></i></div>
      <div class="text-center">
        <h1 id="mes" class="texto-cabecalho-calendario"></h1>
        <h1 id="ano" class="texto-cabecalho-calendario">2023</h1>
      </div>
      <div id="next-month" class="text-start"><i class="fa-solid fa-angles-right arrow"></i></div>
    </div>
    <div class="corpo-calendario">
      <table class="table table-bordered text-center">
        <thead class="table-dark">
        <th>Dom</th>
        <th>Seg</th>
        <th>Ter</th>
        <th>Qua</th>
        <th>Qui</th>
        <th>Sex</th>
        <th>Sáb</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="ring-container">
        <div class="ring-left"></div>
      </div>
      <div class="ring-container">
        <div class="ring-right"></div>
      </div>
    </div>
  </div>
</div>
</div>